.row
{
    display: inline-flex;
    margin-left: 37%;
    margin-top: 10%;
}
.moon{
    opacity: 50%;
}
a:hover{
    opacity: .7;
}
h3
{
    font-size: 70px;
    font-weight: 300;
    text-align: center justify;
    margin-left: 10%;
}
p{
    text-align: center justify;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 100;
    font-size: 30px;
}